---
import Layout from '../layouts/Layout.astro';
import Descarga from '../components/Icons/Descarga.astro';
---
<Layout 
  title="En Desarrollo - Área Legal Ideart Asesores"
  description= "La sección está actualmente en desarrollo o en búsqueda del archivo. Por favor, vuelva más tarde.">
  <main class="px-4 mx-auto max-w-7xl">
    <section class="py-12 flex flex-col items-center container">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden max-w-lg mx-auto p-8 text-center">
        <div class="mb-4">
          <Descarga class="size-10 mx-auto text-[#B30000]"/>
        </div>
        <h1 class="text-3xl font-bold mb-4 text-[#B30000]">En Desarrollo</h1>
        <p class="text-lg mb-4">Esta sección está actualmente en desarrollo o en búsqueda del archivo.</p>
        <p class="text-lg">Por favor, vuelva más tarde.</p>
      </div>
    </section>
  </main>
</Layout>
