---
import Layout from '../layouts/Layout.astro';
import CartasE from '../components/CartasE.astro';
import AreasDP from '../components/AreasDP.astro';
---

<Layout 
title="Área Legal Ideart Asesores"
description= "Descubre los servicios legales expertos del área legal de Ideart Asesores. Nuestro equipo de abogados experimentados ofrece asesoría jurídica en derecho corporativo, laboral, fiscal y más. Confíe en nosotros para proteger sus intereses legales.">
	<main class="px-4 mx-auto max-w-7xl">

	 <section class="py-12 flex flex-col items-center container ">
		 <CartasE/>
	 </section>

	<section class="py-12 ">
		
	<div class="container mx-auto px-5 ">
	<h2 class="text-5xl text-[#D3BB36] md:text-6xl lg:text-7xl font-semibold text-center modi"> ÁREAS DE PRÁCTICA </h2>
	</div>
	 <AreasDP  />
	</section>

	</main>
</Layout>

<style>
@media (max-width: 383px) {
    .modi {
        font-size: 2.5rem; 
    }
}
</style>
