<header class="bg-[#EFE26A] border border-gray-800 flex flex-col sm:flex-row justify-between items-center py-4 px-8">
    <img src="images/LogoIdeart.png" alt="Logo" class="size-16 object-cover mb-4 md:mb-0">

    <h1 class=" text-7xl font-semibold text-center md:text-left">ÁREA LEGAL</h1>

    <img src="images/balanza.png" alt="balanza" class="size-16 mt-4 md:mt-0">
</header>
