<header class="bg-[#EFE26A] border border-gray-800 flex flex-row justify-between items-center py-4 px-8">
    <img src="images/LogoIdeart.png" alt="Logo" class="size-16 object-cover">

    <h1 class="text-4xl md:text-6xl lg:text-7xl font-semibold text-center md:text-left">ÁREA LEGAL</h1>

    <img src="images/balanza.png" alt="balanza" class="size-16">
</header>

