<header class="bg-[#595959] border border-gray-800 flex items-center justify-between py-4 px-6">
    <div class="flex items-center justify-center md:justify-start flex-shrink-0 lg:ml-16">
        <a href="/" class="flex items-center">
            <img src="/images/LogoIdeart.png" alt="Logo" class="size-16 object-cover">
        </a>
    </div>
    <div class="flex items-center justify-center md:justify-center flex-grow ">
        <a href="/" class="flex items-center">
            <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-semibold text-center md:text-left text-white">ÁREA LEGAL</h1>
        </a>
    </div>
    <div class="flex items-center justify-center md:justify-end flex-shrink-0 lg:mr-16">
        <img src="/images/balanza3.png" alt="balanza" class="size-16 object-cover">
    </div>
</header>





